.RData
.Rhistory
/.quarto/
wsim-gldas-vis_files
water-wsim-gldas-v1-composite-anom-one-month-netcdf
water-wsim-gldas-v1-composite-one-month-netcdf
.Rproj.user
composite_anom_1mo.nc
modis_nrt_flood.nc
wsim_gldas_tex.nc
TOPSTSCHOOL-module-1-water.Rproj
/docs/presentations/*.png
/presentations/*.png
/docs/presentations/*.jpg
/presentations/*.jpg
composite_1mo.nc
composite_12mo.nc
gpw_v4_population_count_rev11_2020_15_min.tif
.DS_Store
map_plot.png
