/*-- scss:defaults --*/

$web-font-path: "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

// fonts
$font-family-sans-serif: 'Roboto' !default;

// colors
$body-bg: #fff !default;
$body-color: #000 !default;
$light-bg-text-color: #687178 !default;
$link-color: #5a7a2b !default;
$selection-bg: #26351c !default;

// headings
$presentation-heading-font: "Roboto" !default;
$presentation-heading-color: #383d3d !default;

/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}